﻿<div class="d-flex container py-3 justify-content-between">
    <div>
        <a href="/">
            <i class="fa-solid fs-5 fa-pizza-slice"></i>
        </a>
    </div>

    <nav class="nav d-flex gap-3">
        <a class="" href="@Url.Action("Index", "Home")">Home</a>
        <a class="" href="@Url.Action("Index", "Pizza")">Admin</a>
        @* <a class="" href="#">Link</a> *@
    </nav>
</div>